/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
--------------------------------------------------------------*/
.halo-comment {
    animation: main .6s;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes main {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bottom20 {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #eee
}

::-webkit-scrollbar-track {
    background-color: #eee
}

::-webkit-scrollbar-thumb {
    background-color: orange
}

div {
    transition: top .8s ease;
}

.halo-comment {
    a {
        text-decoration: none;
        color: $color;
    }

    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: #cccccc
    }

    button,
    input,
    textarea {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-appearance: none;
        outline: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    button:focus,
    input:focus,
    textarea:focus {
        outline: none;
    }

    ol,
    ul {
        list-style: none;
    }
}

/*--------------------------------------------------------------
# Comment
--------------------------------------------------------------*/
.halo-comment {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8;
    color: #313131;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: content-box;

    input[type=text],
    input[type=email],
    input[type=url],
    input[type=password],
    input[type=search],
    input[type=number],
    input[type=tel],
    input[type=range],
    input[type=date],
    input[type=month],
    input[type=week],
    input[type=time],
    input[type=datetime],
    input[type=datetime-local],
    input[type=color],
    textarea {
        color: #666;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    /*--------------------------------------------------------------
    # Loading
    --------------------------------------------------------------*/
    .comment-load-button {
        margin: 30px 0;
        text-align: center;
    }

    /*--------------------------------------------------------------
    # CommmentLoader
    --------------------------------------------------------------*/
    .comment-loader-container {
        animation: top20 500ms;
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 30px 0;

        @keyframes top20 {
            0% {
                opacity: 0;
                transform: translateY(-20px)
            }

            100% {
                opacity: 1;
                transform: translateY(0)
            }
        }

        .comment-loader-default {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            width: 30px;

            span {
                width: 4px;
                height: 15px;
                background-color: #898c7b;

                &:nth-of-type(1) {
                    animation: grow 1s -0.45s ease-in-out infinite;
                }

                &:nth-of-type(2) {
                    animation: grow 1s -0.3s ease-in-out infinite;
                }

                &:nth-of-type(3) {
                    animation: grow 1s -0.15s ease-in-out infinite;
                }

                &:nth-of-type(4) {
                    animation: grow 1s ease-in-out infinite;
                }
            }

            @keyframes grow {

                0%,
                100% {
                    transform: scaleY(1);
                }

                50% {
                    transform: scaleY(2);
                }
            }
        }

        .comment-loader-circle {
            border: 3px solid #898c7b;
            border-top-color: #fff;
            border-radius: 50%;
            width: 2.5em;
            height: 2.5em;
            animation: spin 0.7s linear infinite;

            @keyframes spin {
                to {
                    transform: rotate(360deg);
                }
            }
        }

        .comment-loader-balls {
            width: 3.5em;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;

            div {
                width: 0.7em;
                height: 0.7em;
                border-radius: 50%;
                background-color: #898c7b;
                transform: translateY(-100%);
                animation: wave 0.7s ease-in-out alternate infinite;

                &:nth-of-type(1) {
                    animation-delay: -0.4s;
                }

                &:nth-of-type(2) {
                    animation-delay: -0.2s;
                }
            }

            @keyframes wave {
                from {
                    transform: translateY(-100%);
                }

                to {
                    transform: translateY(100%);
                }
            }
        }
    }

    /*--------------------------------------------------------------
    # CommmentNode
    --------------------------------------------------------------*/

    ul {
        &.commentwrap {
            margin: 0 auto 30px;
        }
    }

    .commentwrap {
        width: 100%;
        margin: 0 auto;
        padding: 0;

        /*--------------------------------------------------------------
        # Commment Children #5 修复层次过多的BUG
        --------------------------------------------------------------*/
        .children {
            padding-left: 40px;
            margin: 0;

            main {
                width: 100%
            }

            .profile {
                float: left;
                width: 5%;
                margin-top: 4px;

                img {
                    height: 40px;
                    width: 40px
                }
            }

            .children {
                .children {
                    .children {
                        .children {
                            .children {
                                margin: 0;
                                padding: 0
                            }
                        }
                    }
                }
            }
        }
    }

    .comment {
        margin: 0;
        padding: 0;
        list-style: none;

        .contents {
            width: 100%;
            float: left;

            &:hover {
                .comment-reply-link {
                    opacity: .9
                }
            }

            @media (max-width:880px) {
                padding-bottom: 10px
            }
        }

        .commentwrap {
            hr {
                height: 0;
                width: 100%;
                background: #eee;
                border: 0;
                margin: 40px 0;
            }
        }

        hr {
            clear: both;
            width: 100%;
            height: 1px;
            margin: 40px 0 60px;
            border: 0;
            background: #e6e6e6;

            @media (max-width:880px) {
                margin: 6.39% 0
            }
        }

        .main {
            float: right;
            width: 100%;
            padding: 0;

            &.shadow {
                &:hover {
                    img {
                        &.avatar {
                            -webkit-transform: rotate(360deg);
                            -moz-transform: rotate(360deg);
                            -ms-transform: rotate(360deg);
                            -o-transform: rotate(360deg);
                            transform: rotate(360deg)
                        }
                    }
                }

                img {
                    &.avatar {
                        transform: rotate(0deg);
                        -webkit-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                        -ms-transform: rotate(0deg);
                        transition: all ease 1s;
                        -webkit-transition: all ease 1s;
                        -moz-transition: all ease 1s;
                        -o-transition: all ease 1s;
                        box-shadow: 0 1px 10px -6px rgba(0, 0, 0, .5);
                        margin-left: 3px;
                    }
                }
            }
        }

        /*--------------------------------------------------------------
        # CommmentAvatar
        --------------------------------------------------------------*/
        .profile {
            float: left;
            margin-right: 10px;
            margin-top: 5px;

            img {
                width: 100%;
                max-width: 40px;
                height: 40px;
                border-radius: 100%;
                -webkit-transition: opacity .15s ease-out;
                -moz-transition: opacity .15s ease-out;
                transition: opacity .15s ease-out;

                &:hover {
                    opacity: .8
                }
            }

            @media (max-width:880px) {
                display: none;
            }
        }

        /*--------------------------------------------------------------
        # CommmentUserInfo
        --------------------------------------------------------------*/
        .commeta {
            font-size: 16px;
            overflow: hidden;
            margin-bottom: 5px;
            text-transform: uppercase;
            color: #9499a8;
            margin-left: 50px;

            .bb-comment {
                border: 1px solid #fb7299;
                min-width: 30px;
                display: inline-block;
                text-align: center;
                font-size: 12px;
                color: #fb7299;
                border-radius: 3px;
                font-weight: 400;
            }

            .comment-time {
                display: inline-block;
                margin-top: 6px;
                font-size: 12px;
                color: #657786;
            }

            .info {
                margin-top: 2px;
                font-size: 12px;
                letter-spacing: 0px;
                text-transform: none;
                color: rgba(0, 0, 0, .35);

                .useragent-info {
                    img {
                        vertical-align: sub;
                        width: 14px;
                        height: 14px;
                        border: 0;
                    }

                    @media (max-width:480px) {
                        display: none;
                    }
                }

                .useragent-info-m {
                    margin-top: 2px;
                    font-size: 12px;
                    letter-spacing: 0px;
                    text-transform: none;
                    color: rgba(0, 0, 0, .35);
                    display: none;

                    img {
                        vertical-align: sub;
                        width: 14px;
                        height: 14px;
                        border: 0;
                    }

                    @media (max-width:480px) {
                        display: inline
                    }
                }
            }

            @media (max-width:880px) {
                margin-left: 0
            }
        }

        h4 {
            font-size: 24px;
            font-weight: 400;
            margin: 0;
            letter-spacing: 0px;
            text-transform: none;
            line-height: 20px;

            a {
                color: #FE9600;
                font-size: 15px;
                font-weight: 600;

                &:hover {
                    color: orange
                }
            }

            img {
                display: none;
                border-radius: 3px;
                margin-right: 5px;
                vertical-align: -4px;

                @media (max-width:880px) {
                    display: inline-block;
                }
            }
        }

        /*--------------------------------------------------------------
        # CommmentReply
        --------------------------------------------------------------*/
        .comment-reply-link {
            font-size: 12px;
            display: block;
            margin-left: 10px;
            float: right;
            text-transform: uppercase;
            color: #fff;
            background-color: orange;
            line-height: 20px;
            padding: 0 6px;
            border-radius: 3px;
            opacity: 0;

            &:hover {
                opacity: 1
            }
        }

        @media (max-width:880px) {
            .comment-reply-link {
                opacity: 1
            }
        }

        /*--------------------------------------------------------------
        # Commment Body
        --------------------------------------------------------------*/
        .body {
            line-height: 32px;
            color: #63686d;
            // border-bottom: 1px solid rgba(0,0,0,.05);
            position: relative;

            >*:last-child {
                margin-bottom: 0;
            }

            p {
                font-size: 14px;
                line-height: 30px;
                padding-bottom: 30px;
                padding-left: 3px;
                color: #63686d;

                a {
                    position: relative;
                    color: orange;

                    &:after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        transform: scaleX(0);
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background-color: orange;
                        transform-origin: bottom right;
                        transition: transform .25s ease-out;
                    }

                    &:hover {
                        &:after {
                            transform: scaleX(1);
                            transform-origin: bottom left
                        }
                    }
                }

                p {
                    display: inline;
                }

                @media (max-width:580px) {
                    margin: 0;
                    font-size: 12px;
                    line-height: 24px;
                    padding-bottom: 13px
                }
            }

            .comment-at {
                color: #99ce00;
                text-decoration: none;
            }
        }

        .markdown-body {
            .comment_inline_img {
                display: inline-block;
                height: 150px;
                margin-right: 3px;
                border: 1px solid #ddd;
                border-radius: 4px;
                padding: 3px;
                cursor: pointer;
            }
        }
    }

    /*--------------------------------------------------------------
    # Commment Editor
    --------------------------------------------------------------*/
    .comment-editor {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        animation: top20 500ms;

        input,
        textarea {

            &:focus,
            &:active {
                outline: 0
            }

            &::-webkit-input-placeholder {
                color: #535a63
            }

            &::-moz-placeholder {
                opacity: 1;
                color: #535a63
            }

            &::-ms-input-placeholder {
                color: #535a63
            }
        }

        // 取消回复按钮
        .cancel-comment-reply-link {
            background: #f4f6f8;
            border-radius: 3px;
            padding: 12px 25px;
            font-size: 12px;
            color: #454545;
        }

        /*--------------------------------------------------------------
        # Commment Reply Form 
        --------------------------------------------------------------*/
        .comment-form {
            outline: none;

            input,
            textarea {
                font-size: 14px;
                width: 31.3%;
                margin: 0;
                padding: 21px 21px 20px;
                color: #535a63;
                background: #fff;
            }

            textarea {
                background-image: url(https://view.moezx.cc/images/2018/03/24/comment-bg.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: right;
                resize: vertical;
            }

            textarea {
                display: block;
                float: none;
                width: 100%;
                height: 180px;
                margin-bottom: 10px;
                color: #535a63;
                border: 1px solid #ddd;
                background-color: transparent;

                &:focus {
                    border-color: orange;
                }
            }

            input {
                border: 1px solid #ddd;
                width: 100%;
                background-color: rgba(255, 255, 255, 0);

                &:last-of-type {
                    margin-right: 0;
                }

                &:focus {
                    border-color: #cccccc;
                }
            }

            /*--------------------------------------------------------------
            # Commment Reply Form - Text
            --------------------------------------------------------------*/
            .comment-textarea {
                position: relative;

                .commentbody {
                    &:focus {
                        border-color: orange;
                        transition: border-color .25s;
                    }

                    &:placeholder-shown {
                        &::placeholder {
                            color: transparent
                        }
                    }

                    &:not(:placeholder-shown)~.input-label,
                    &:focus~.input-label {
                        color: #fff;
                        background-color: orange;
                        transform: scale(.75) translate(-2px, -37px);
                        border-radius: 3px
                    }
                }

                .input-label {
                    position: absolute;
                    left: 16px;
                    top: 20px;
                    padding: 0 6px;
                    transform-origin: 0 0;
                    pointer-events: none;
                    transition: all .25s
                }
            }

            /*--------------------------------------------------------------
            # Commment Reply Form - Body
            --------------------------------------------------------------*/
            .comment-preview {
                position: relative;
                width: 100%;
                height: 180px;
                display: block;
                float: none;
                box-shadow: none;
                border: 1px solid #ddd;
                background-color: transparent;
                box-sizing: border-box;
                border-radius: 3px;
                padding: 21px 21px 20px;
                margin: 0;
                background: #fff;
                line-height: 1.5;
                margin-bottom: 10px;
                overflow-y: auto;

                img {
                    max-width: 100%;
                }
            }

            /*--------------------------------------------------------------
            # Commment Reply Form - AuthorInfo
            --------------------------------------------------------------*/
            .author-info {
                .commentator {
                    position: absolute;
                    display: inline-block;
                    width: 64px;
                    height: 64px;
                    pointer-events: none;
                    margin-top: 10px;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }

                    .socila-check {
                        display: none;
                        width: 1.5em;
                        height: 1.5em;
                        font-size: 1em;
                        line-height: 1.5em;
                        text-align: center;
                        color: #fff;
                        border-radius: 50%;
                        position: absolute;
                        margin: -28px 0 0 42px;
                    }

                    .gravatar-check {
                        background-color: #1e8cbe;
                        -ms-transform: rotate(270deg);
                        -webkit-transform: rotate(270deg);
                        transform: rotate(270deg);
                    }

                    .qq-check {
                        background-color: #99ce00;
                    }

                    @media (max-width: 625px) {
                        padding-top: 10px;
                        width: 45px;
                        height: 45px;
                        right: 11%;

                        .socila-check {
                            width: 1.5em;
                            height: 1.5em;
                            font-size: .5em;
                            line-height: 1.5em;
                            margin: -40% 0 0 77%;
                        }
                    }
                }

                /*--------------------------------------------------------------
                # Commment Reply Form - Popup
                --------------------------------------------------------------*/
                .cmt-popup {
                    margin: 0 0 40px 1%;
                    --widthA: 98%;
                    --widthB: calc(var(--widthA) - 71px);
                    --widthC: calc(var(--widthB)/3);
                    width: var(--widthC);
                    margin-top: 10px;

                    &.cmt-author {
                        margin-left: 70px;
                    }

                    @media (max-width: 625px) {
                        margin: 0;
                        width: 100%;
                        margin-top: 15px;

                        &.cmt-author {
                            margin-top: 10px;
                            margin-left: 0;
                        }
                    }
                }

                @media (min-width: 625px) {
                    width: 100%;
                    display: -webkit-flex;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: stretch;
                }
            }

            /*--------------------------------------------------------------
                # Commment Reply Form - SubmitButtom
                --------------------------------------------------------------*/
            .comment-buttons {
                font-size: 14px;
                text-align: right;
                margin-top: 10px;

                .middle {
                    display: inline-block;
                    vertical-align: middle
                }

                .button-submit,
                .button-preview-edit {
                    animation: bottom20 500ms;
                    border: none;
                    background: $color;
                    color: #fff;
                    font-weight: 500;
                    padding: 6px 18px;
                    text-transform: uppercase;
                    border-radius: 4px;
                    display: inline-block;
                    transition: all 0.3s ease 0s;

                    &:hover {
                        color: #404040;
                        font-weight: 700;
                        letter-spacing: 3px;
                        background: none;
                        -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
                        -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
                        box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
                        transition: all 0.3s ease 0s;
                    }
                }
            }
        }

        @media (max-width: 1080px) {
            width: 100%;
            padding: 0 6.39%;
            max-width: 1245px;
            box-sizing: border-box;

            input {
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }

    /*--------------------------------------------------------------
    # Commment Empty
    --------------------------------------------------------------*/
    .comment-empty {
        margin: 30px 0;
        text-align: center;
        color: #8899a6;
    }

    /*--------------------------------------------------------------
    # Commment Pagination
    --------------------------------------------------------------*/
    .comment-page {
        margin-top: 30px;
        text-align: center;
        border-top: 3px solid #f5f8fa;

        .page {
            display: inline-block;
            padding: 10px 0;
            margin: 0;

            li {
                display: inline;
                margin-right: 5px;
            }

            button {
                margin-bottom: 8px;
                position: relative;
                font-size: inherit;
                font-family: inherit;
                padding: 5px 10px;
                border: 1px solid #d9d9d9;
                border-radius: 4px;
                cursor: pointer;
                transition: all 0.8s;
                font-weight: normal;
                color: rgba(0, 0, 0, .65);
                background-color: #fff;

                &:hover {
                    color: #1890ff;
                    border-color: #1890ff;
                }
            }

            .active {
                color: #1890ff;
                border-color: #1890ff;
            }
        }
    }
}

/*--------------------------------------------------------------
# Commment Reply Form - Emoji
--------------------------------------------------------------*/
#emotion-toggle {
    text-align: center;
    margin-bottom: 5px;
}

#emotion-toggle,
.emotion-box,
.on-hover,
.emotion-item,
.emoji-item,
.tieba-container span {
    cursor: url(https://cdn.jsdelivr.net/gh/LIlGG/cdn@1.0.0/img/Sakura/cursor/No_Disponible.cur), auto;
}

.emoji-fade-enter-active,
.emoji-fade-leave-active {
    transition: all .8s ease;
}

.emoji-fade-enter,
.emoji-fade-leave-to {
    opacity: 0;
    transform: translateY(-10px);
}

.emotion-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    /*--------------------------------------------------------------
    # Emoji Category
    --------------------------------------------------------------*/
    .category-enter,
    .category-leave-to {
        opacity: 0;
    }

    .category-enter-active,
    .category-leave-active {
        transition: all .2s ease;
    }

    .category-enter {
        transform: translateX(10px);
    }

    .category-leave-to {
        transform: translateX(-10px);
    }

    .motion-switcher-table {
        border-collapse: collapse;
        width: 100%;
        margin: 0;
        table-layout: fixed;

        th,
        td {
            padding: 8px;
            text-align: center;
            border-radius: 5px;
        }

        th:hover {
            background-color: rgba(245, 245, 245, .5);
            color: orange
        }

        .on-hover {
            color: orange
        }
    }

    /*--------------------------------------------------------------
    # Emoji List
    --------------------------------------------------------------*/
    .motion-container {
        height: 110px;
        overflow: auto;
        margin-bottom: 5px;
        border-radius: 5px;

        &.bilibili-container,
        &.tieba-container {
            padding-left: 16px;

            @media (max-width:860px) {
                padding-left: 0
            }
        }

        span,
        img {
            width: 32px;
            height: 32px;

            @media (max-width:860px) {
                transform: scale(.6);
                margin-bottom: -10px
            }
        }

        img {
            margin: 7px;
            max-width: 100%;
            border: 0;

            &:hover {
                background-color: rgba(245, 245, 245, .8);
                border-radius: 5px
            }
        }

        .emoji-item {
            padding: 3px 5px;
            margin: 3px;
            display: inline-block;
            border-radius: 4px;
            color: #333;

            &:hover {
                background-color: rgba(245, 245, 245, .8)
            }
        }

        a {
            background-color: transparent;
            text-decoration: none;
            cursor: url(https://cdn.jsdelivr.net/gh/LIlGG/cdn@1.0.0/img/Sakura/cursor/ayuda.cur), auto;
        }

        a {
            color: #e67474;
            outline: none;
            -webkit-transition: color .2s ease-out, border .2s ease-out, opacity .2s ease-out;
            -moz-transition: color .2s ease-out, border .2s ease-out, opacity .2s ease-out;
            transition: color .2s ease-out, border .2s ease-out, opacity .2s ease-out;
        }

        .emotion-select-parent {
            background-size: cover;

            &:hover {
                background-color: rgba(245, 245, 245, .8);
                background-image: none !important;
                border-radius: 5px;

                .emotion-select-child {
                    display: block
                }
            }
        }

        .emotion-select-child {
            display: none;
        }

        .emotion-secter {
            margin: 12px 12px 0 0;

            @media (max-width:860px) {
                margin: 0;

                .emotion-select-parent:hover {
                    background-image: none !important;
                    -ms-transform: scale(.6, .6);
                    -webkit-transform: scale(.6, .6);
                    transform: scale(.6, .6)
                }
            }
        }
    }

    .emotion-inline {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.emotion-item {
    margin: 6px;
    display: inline-block;
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: -8px;

    .img {
        -webkit-animation: im-emotion-step 1.08s steps(27) infinite;
        animation: im-emotion-step 1.08s steps(27) infinite;
        -webkit-animation-duration: 1.08s;
        animation-duration: 1.08s;
        -webkit-animation-timing-function: steps(27);
        animation-timing-function: steps(27);
    }

    .img {
        width: 32px;
        height: 864px;
        max-width: 32px;
        background: top/32px no-repeat;
        background-image: none;
    }

    @-webkit-keyframes im-emotion-step {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0)
        }

        to {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%)
        }
    }

    @keyframes im-emotion-step {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0)
        }

        to {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%)
        }
    }

    @media (max-width:860px) {
        transform: scale(.6);
        margin-bottom: -10px
    }
}


/*--------------------------------------------------------------
# Popup
--------------------------------------------------------------*/
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;

    .popuptext {
        width: auto; 
        padding: 8px 10px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        bottom: 110%;
        left: 50%;
        margin-left: -80px;

        &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent;
        }
    }

    .fade-enter-active,
    .fade-enter-to {
        transition: opacity 1s;
    }

    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }
}

.smilies {
    height: 1em;
    max-height: 1em;
}

/*--------------------------------------------------------------
# Default Tips
--------------------------------------------------------------*/
.butterBar {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10000;

    &.butterBar-center {
        margin: auto;
    }

    .butterBar-message {
        background: #FE9600;
        color: #fff;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        display: inline-block;
        font-size: 14px;
        margin-bottom: 0;
        padding: 12px 25px;
        z-index: 10000;
        margin-top: -4px
    }
}

.serif {
	font-family: 'Noto Serif SC','Source Han Serif SC','Source Han Serif','source-han-serif-sc','PT Serif','SongTi SC','MicroSoft Yahei',Georgia,serif
}